body,
header {
  margin: 0;
  padding: 0;
}

header nav {
  display: flex;
  height: 40px;
  margin: 0;
  border: 1px solid black;
  align-items: center;
  justify-content: space-between;
  padding: 2px 20px;
}

nav div .nav-links {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

nav div .nav-links li {
  padding: 5px 10px;
  font-size: 19px;
  border-right: 1px solid black;
}

.nav-links a {
  text-decoration: none;
  color: black;
}

nav div .nav-links li:last-child {
  border-right: none;
}

nav div .nav-links a:hover {
  color: rgb(72, 72, 240);
}

h1,
p {
  text-align: center;
  margin: 10px;
}

.displayBooks {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  padding: 0;
  margin: 20px 25%;
}

.displayBooks li {
  display: flex;
  justify-content: space-between;
  padding: 10px 2%;
  width: 96%;
}

.displayBooks li .removeBtn {
  margin-left: 10px;
  padding: 7px;
  border-radius: 5px;
  background-color: white;
}

form .submitBtn {
  margin: 10px;
  padding: 8px;
  border-radius: 6px;
  width: 100px;
}

.displayBooks li .removeBtn:hover,
form .submitBtn:hover {
  background-color: gray;
  color: white;
  font-size: 14px;
  transform: scale(1.1);
}

.displayBooks li:nth-child(even) {
  background-color: #f2f2f2;
}

form {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 30px 29%;
}

form .inputText {
  margin: 10px;
  padding: 12px;
  border-radius: 8px;
  border: 1.5px solid rgb(168, 164, 164);
}

form .submit {
  display: flex;
  justify-content: flex-end;
}

hr {
  width: 20%;
  height: 2px;
  background-color: black;
}

#addBook,
#allBooks,
#contact,
hr {
  display: none;
}

footer {
  position: fixed;
  bottom: 0;
}
